// base
@import "./base/mixins.scss";
@import "./base/variables.scss";
@import "./base/general.scss";
@import "./base/header.scss";
@import "./base/footer.scss";
@import "./base/responsiveness.scss";

@import "./main.scss";

@import "./customStyles/newHome.scss";
@import "./customStyles/global.scss";

@import "./customStyles/knowledgeBase.scss";
@import "./customStyles/partners.scss";
@import "./customStyles/projects.scss";

@import "./customStyles/about.scss";
@import "./customStyles/news.scss";
@import "./customStyles/contact.scss";
