h1 {
  font-size: 58px;
}
h2 {
  font-size: 34px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
p {
  font-size: 16px;
}
.readMore {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  padding: 16px 24px 16px 28px;
  background-color: #1d307b;
  border-color: #1d307b;
  border-radius: 8px;
  box-sizing: border-box;
  &:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #1d307b;
  }
}
.page {
  padding-top: 132px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.overlayText {
  position: absolute;
  margin-bottom: 22px;
  margin-left: 13px;
  bottom: 0;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.15px;
}
