.introduction {
  background: linear-gradient(129.98deg, #3d57bd 13.8%, #1d307b 90.93%);
  div {
    &:first-child {
      padding: 125px 84px 125px 229px;
      h2,
      p {
        color: #ffffff;
      }
      h2 {
        margin-top: 0;
        margin-bottom: 40px;
        font-weight: 700;
        line-height: 46px;
      }
      p {
        margin-top: 0;
        margin-bottom: 7px;
      }
      button {
        color: #1d307b;
        font-size: 18px;
        font-weight: bold;
        padding: 16px 24px 16px 28px;
        background-color: #ffffff;
        border: 1px solid #1d307b;
        border-radius: 8px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
.slider {
  .flowing {
    font-size: 140px;
    font-style: normal;
    font-weight: bold;
    line-height: 166px;
    letter-spacing: -1.5px;
    opacity: 0.5;
    color: rgba(29, 48, 123, 1);
  }
  .partners-logo {
    display: flex;
    justify-content: space-between;
    margin: 0 229px 138px 229px;
    height: 97px;
    img {
      object-fit: contain;
      width: max-content;
    }
  }
  h3 {
    display: table;
    color: #1d307b;
    margin-top: 29px;
    margin-left: 229px;
    margin-bottom: 12px;
    font-weight: 700;
    padding: 24px 32px;
    background: rgba(29, 48, 123, 0.12);
    border-radius: 66px;
  }
  h1 {
    margin-left: 229px;
    width: 580px;
    font-weight: 700;
    line-height: 68px;
  }
  p {
    margin: 23px 229px 20px 229px;
    padding-bottom: 20px;
    border-bottom: 8px solid #cbd2d9;
  }
}
.activity {
  position: relative;
  h2 {
    margin-left: 229px;
    font-weight: bold;
    padding: 37px 0;
  }
  .ant-row {
    .ant-col-18 {
      padding: 57px 400px 203px 229px;
      background-color: #bddadb;
      p:nth-child(2) {
        width: 387px;
        line-height: 24px;
        font-weight: 700;
        margin-bottom: 49px;
        margin-top: 27px;
      }
      p:nth-child(3) {
        line-height: 28px;
        letter-spacing: 0.5px;
        color: #616e7c;
      }
      > div {
        display: table;
        padding: 16px 32px;
        background-color: #1f2933;
      }
      button {
        margin-top: 58px;
      }
    }
    .ant-col-6 {
      background: linear-gradient(129.98deg, #3d57bd 13.8%, #1d307b 90.93%);
    }
  }
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 163px 46px;
    border-top: 12px solid rgba(255, 255, 255, 0.4);
    top: 0;
    right: 229px;
    width: 480px;
    height: 685px;
    background-color: #1f2933;
  }
}
.range {
  position: relative;
  padding: 146px 0;
  > div {
    margin-left: 120px;
    h1 {
      margin-bottom: 4px;
      font-weight: 700;
      color: #1d307b;
      letter-spacing: -0.5px;
      line-height: 69px;
    }
    p {
      line-height: 24px;
      letter-spacing: 0.15px;
      color: #616e7c;
      margin: 0;
    }
  }
  section {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 214px;
    margin-right: 197px;
    div {
      position: absolute;
      left: -15px;
      height: 30px;
      width: 30px;
      border: 1px solid #1d307b;
      background-color: #1d307b;
      border-radius: 50%;
    }
    .circleText {
      margin: 0;
      box-sizing: border-box;
      span {
        top: -50%;
        position: absolute;
        display: inline-block;
        transform-origin: 0 100px;
      }
    }
  }
}
.masamToNews {
  background-color: rgba(245, 245, 245, 1);
  padding: 100px 229px 147px 229px;
  .headerTo {
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 48px;
    h1 {
      width: 700px;
      line-height: 68.73px;
      font-weight: 700;
      margin: 0;
    }
    .ant-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: none;
      border: none;
      padding: 24px 38px;
      font-size: 18px;
      font-weight: 700;
      color: #1d307b;
      background-color: rgba(245, 245, 245, 1);
      box-shadow: none;
    }
  }
}
.calendar {
  .titleCalendar {
    width: 100%;
    padding: 103px 228px;
    background: linear-gradient(129.98deg, #3d57bd 13.8%, #1d307b 90.93%);
    h1 {
      width: 962px;
      font-weight: 700;
      line-height: 56px;
      letter-spacing: -0.5px;
      color: rgba(255, 255, 255, 1);
      margin-bottom: 0;
      h2 {
        font-size: 48px;
        font-weight: 700;
        color: rgba(255, 255, 255, 1);
        line-height: 56px;
        letter-spacing: -0.5px;
        margin-bottom: 0;
      }
    }
  }
  .bodyCalendar {
    padding: 47px 228px 121px 228px;
    h1 {
      font-weight: 700;
      margin-bottom: 0;
    }
    p {
      color: rgba(97, 110, 124, 1);
      margin-top: 20px;
      margin-bottom: 34px;
    }
    .ant-col-8 {
      > div {
        width: 430px;
        height: 490px;
        padding: 85px 46px;
        box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08),
          0px 8px 32px rgba(19, 10, 46, 0.07),
          0px 3px 14px rgba(19, 10, 46, 0.03),
          0px 1px 3px rgba(19, 10, 46, 0.13);
      }
    }
  }
}
