.kbase{
    margin-left: 233px;
}
.title{
    font-size: 20px;
}
.line{
    width: 1342px;
    height: 1px;
    border: 1px solid rgba(29, 48, 123, 0.12);
    margin-bottom: 20px;
}
.kbase p{
    margin-bottom: 20px;
}
.div-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1342px;
    padding: 4px;
    margin-bottom: 44px;
}
.div-button button{
    width: 263.6px;
    height: 44px;
    margin-right: 3px;
    border: 1px solid #1D307B;
    border-radius: 5px;
    color: #616E7C;
    background-color: #F5F5F5;
}
.clicked{
    background-color: #1D307B !important;
    color:white !important;
}
.files{
    border-top: 6px solid #1D307B;
    width: 226px;
    height: 110px;
    margin-right: 12px;
    background-color: #F5F5F5;
    padding: 32px 20px 16px 16px;
}
.center{
    display: flex;
}
.files a{
    float: left;
    color: black;
}
.center img{
    width: 50px;
    height: 50px;
}
.files-container{
    width: 100%;
    position: relative;
    display:flex;
    margin-bottom: 20px;
}
.lastFile{
    width: 464px;
    margin-bottom: 20px;
}
.bottom{
    margin-bottom: 60px;
}