.news {
  .masamToNews {
    background-color: #fff;
    padding-top: 0;
    padding-bottom: 30px;
  }
  .newsCats {
    .newsPart1 {
      width: 100%;
      padding: 0 229px;
      margin-bottom: 25px;
      > div {
        position: relative;
        background: rgba(255, 255, 255, 1);
        float: left;
        width: calc((100% - 75px) / 4);
        height: 300px;
        border-top: 8px solid rgba(31, 41, 51, 1);
        margin-right: 25px;
        &:last-child {
          margin-right: 0;
        }
        .overlayText {
          color: #ffffff;
        }
      }
    }
    .newsPart2 {
      border: 1px solid red;
      width: 100%;
      padding: 0 229px;
      margin-bottom: 25px;
      > div {
        position: relative;
        background: rgba(255, 255, 255, 1);
        float: left;
        width: calc((100% - 75px) / 4);
        height: 300px;
        border-top: 8px solid rgba(31, 41, 51, 1);
        margin-right: 25px;
        &:nth-child(2) {
          height: 658px;
          border: 1px solid red;
          width: calc((100% - 50px) / 2);
        }
        &:last-child,
        &:nth-child(3) {
          margin-right: 0;
        }
        .overlayText {
          color: #ffffff;
        }
      }
    }
  }
}

.newsList {
  padding: 120px 228px 0 228px;

  .headerNews {
    margin-bottom: 116px;
    justify-content: space-between;
    align-items: flex-end;
    h1 {
      margin-bottom: 0;
      font-weight: 700;
      width: 593px;
      line-height: 68.73px;
      letter-spacing: -0.5px;
    }
    .ant-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: 700;
      height: 56px;
      width: 176px;
      background: rgba(29, 48, 123, 1);
      color: rgba(255, 255, 255, 0.95);
    }
  }
}
.ant-dropdown-menu {
  li {
    font-size: 18px;
    font-weight: 700;
    height: 56px;
    width: 176px;
    color: rgba(29, 48, 123, 1);
    span {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
