.partner {
  padding: 64px 249px 97px 248px;
  h2 {
    color: #1d307b;
    font-size: 42px;
    p {
      font-size: 42px;
    }
  }
  .boxContainer {
    display: flex;
    width: 100%;

    .bigBox {
      background-color: #f5f5f5;
      border-top: 6px solid #1d307b;
      margin-right: 24px;
      margin-bottom: 24px;
      padding: 40px;
      height: 28.5em;

      .headPic {
        object-fit: contain;
        height: 9em;
        width: 20em;
        margin-bottom: 20px;
      }

      .nextButton {
        float: right;
        display: flex;
        justify-content: center;
        p {
          margin-right: 8px;
          margin-top: 15px;
          color: #616E7C;
        }
        img {
          width: 56px;
          height: 56px;
          object-fit: cover;
          transition: 0.3s;
        }
        img:hover{
          transform: scale(1.1);
          transition: 0.3s;
        }
      }
    }
    .smallBox {
      margin-right: 24px;
      margin-bottom: 24px;
      background-color: #f5f5f5;
      border-top: 6px solid #1d307b;
      padding: 40px;

      .headPic {
        object-fit: contain;
        height: 6em;
        width: 24em;
        margin-bottom: 20px;
      }

      .nextButton {
        float: right;
        display: flex;
        p {
          margin-right: 8px;
          margin-top: 15px;
          color: #616E7C;
        }
        img {
          width: 56px;
          height: 56px;
          object-fit: cover;
          transition: 0.3s;
        }
        img:hover{
          transition: 0.3s;
          transform: scale(1.1);
        }
      }
    }
  }
}
