.proj {
  margin-left: 233px;
  .title{
    font-size: 24px;
  }
  
  ul li{
    list-style-type: circle;
    margin-left: 20px;
  }
  .div-button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 4px;
    margin-bottom: 24px;
    margin-top: 24px;
    button {
      width: 263.6px;
      height: 44px;
      margin-right: 3px;
      border: 1px solid #1d307b;
      border-radius: 5px;
      color: #616e7c;
      background-color: #f5f5f5;
      transition: 0.5s;
    }

    .clicked {
      background-color: #1d307b !important;
      color: white !important;
    }
  }
}
